extends layout

block content
  #tools-menu
    a.valign-wrapper(href='/' + kind + '/edit/')
      i.material-icons add_circle_outline
      span.icon-text.valign Create
  if results == ''
    h2 No #{kind}. Create one.
  else
    - var headers = Object.keys(results[0].attributes)
    if (headers.includes('picture'))
      - var hasPicture = true
    #table-content
      table.responsive-table.bordered
        thead
            tr
              if (hasPicture)
                th(data-field=header) Picture
              each header in headers
                //- skipFields comes from controller, array of fields to skip, if the current header is NOT in the skipFields array, show it.
                if (skipFields.includes(header) == false && header != 'picture')
                  th(data-field=header)= header
              th.edit-column Edit

        tbody
          each row in results
            - var id = row.attributes['id']
            tr
            if (hasPicture)
              td: img.list-image.responsive-image(src='/uploads/' + row.attributes['picture'])
            - for ( var key in row.attributes )
              if (skipFields.includes(key) == false && key != 'picture')
                case key
                  when 'name'
                    td: a(href='/' + kind + '/edit/' + row.attributes['id'])= row.attributes[key]
                  when 'website'
                    td: a(href='http://' + row.attributes[key])= row.attributes[key]
                  default
                    td= row.attributes[key]
            td.edit-column 
              a.edit(href='/' + kind + '/edit/' + row.attributes['id'])
                i.material-icons edit
              a.delete(href='#delete' + id) 
                i.material-icons delete_forever
              div(class='modal', id='delete' + id)
                .modal-content
                  h4 Delete
                    span.delete-title #{row.attributes['name']}
                  p Are you sure you want to delete this item?
                .modal-footer
                  a.modal-action.modal-close.btn.green.left(href='#!') Cancel
                  a.modal-action.modal-close.btn.red(href='/' + kind + '/delete/' + row.attributes['id']) Delete
