extends layout

block content
  if message
    ul.card-panel.green.white-text#message-panel
      li= message
  if errors
    ul.card-panel.red.white-text#message-panel
      for error in errors
        li= error.msg
  if dbErr
    ul.card-panel.red.white-text
      li= dbErr

  if results
    - var access = results.access
    - var action = 'edit'
    - var address = results.address
    - var description = results.description
    - var email = results.email
    - var hours = results.hours
    - var latlong = results.latlong
    - var phone = results.phone
    - var picture = results.picture
    - var placeID = results.id
    - var placeName = results.name
    - var slug = results.slug
    - var website = results.website
    if results.visible
      - var visibleness = 'checked'

    - var header = placeName
  else
    - var placeID = ''
    - var header = 'Add new location'

  h1#item-edit-title #{header}
  .row#location-form
    form(action='/locations/edit/' + placeID, method='post' enctype='multipart/form-data')
      .row#form-fields
        .col.s12.m6
          div.input-field(data-role='fieldcontain')
            label.active.valign-wrapper(for='slug') Slug (for URL = http://makergrounds.virginia.edu/#{slug})
              a.tooltipped(data-position='top' data-tooltip='The "slug" can only contain lowercase letters, numbers, and dashes.')
                i.material-icons help
            input.validate#slug(type='text' pattern='[a-z0-9-]+' name='slug' value=slug autofocus)
          div.input-field(data-role='fieldcontain')
            label(for='placeName') Place Name
            input.validate#placeName(type='text' placeholder='(required)' name='placeName' value=placeName)
          div.input-field(data-role='fieldcontain')
            label.active(for='description') Description
            textarea.materialize-textarea.validate#description(placeholder='(required)' name='description')
              = description
          div.input-field(data-role='fieldcontain')
            label.active(for='address') Address
            input.validate#address(type='text' name='address' value=address)
          .row
            .col.s12.m6
              div.input-field(data-role='fieldcontain')
                label.active(for='latitude') Latitude
                input.validate#latitude(type='text' name='latitude' value=latitude)
            .col.s12.m6
              div.input-field(data-role='fieldcontain')
                label.active(for='longitude') Longitude
                input.validate#longitude(type='text' name='longitude' value=longitude)
          div.input-field(data-role='fieldcontain')
            label(for='access') Access (what does it take to get in and use tools)
            input.validate#access(type='text' name='access' value=access)
          div.input-field(data-role='fieldcontain')
            label(for='hours') Hours
            input.validate#hours(type='text' name='hours' value=hours)
          div.input-field(data-role='fieldcontain')
            label.active(for='website') Website
            input.validate#website(type='url' name='website' value=website)
          div.input-field(data-role='fieldcontain')
            label.active(for='email') Email
            input.validate#email(type='email' name='email' value=email)
          div.input-field(data-role='fieldcontain')
            label.active(for='phone') Phone
            input.validate#phone(type='text' name='phone' value=phone)
        .col.s12.m6
          .card-panel.amber.lighten-3 
            p Ideal picture size is 650x350 pixels. It will be cropped to this size.
          if (picture)
            #location-image
              img.responsive-img(src='/uploads/' + picture)
          else 
            #location-image
              img.responsive-img(src='/images/no-location.png')
          div.input-field.file-field(data-role='fieldcontain')
            .btn
              if picture
                span Change Picture
              else 
                span Add Picture
              input.validate#loc_image(type='file' name='loc_image')
              input(type='hidden' name='pic_name' value=picture)
            .file-path-wrapper
              input.file-path.validate(type='text')
            if picture
              #deletepic
                input#del_pic.filled-in(type='checkbox' name='del_pic')
                label(for='del_pic') Delete Picture?
      .row#visible-box
        .col
          div.input-field(data-role='fieldcontain')
            input#isVisible(type='checkbox' name='visible' checked=visibleness)
            label(for='isVisible') Visible (Check to make visible on makergrounds webpage)
      .row#form-buttons
        .col.s6
          input.validate.btn.waves-effect.waves-light.green.left#submit(type='submit' name='submit' value='Save')
        if (action == 'edit')
          .col.s6
            a.modal-action.modal-close.btn.waves-effect.waves-light.red(href='#delete-' + placeID) Delete
            div(class='modal', id='delete-' + placeID)
              .modal-content
                h4 Delete 
                  span.delete-title= placeName
                p Are you sure you want to delete this item?
              .modal-footer
                a.modal-action.modal-close.btn.green.left(href='#!') Cancel
                a.modal-action.modal-close.btn.red(href='/locations/delete/' + placeID) Delete
