extends layout

block content
  if message
    ul.card-panel.green.white-text#success-panel
      li= message
  if errors
    ul.card-panel.red.white-text#error-panel
      for error in errors
        li= error.msg
  if dbErr
    ul.card-panel.red.white-text
      li= dbErr

  if results
    - var personID = results.id
    - var fullname = results.name
    - var email = results.email
    - var phone = results.phone
    - var picture = results.picture
    - var moniker = results.moniker
    - var bio = results.bio
    - var website = results.website
    - var hours = results.office_hours
    - var office = results.office_address
    - var location = results.location_id
    - var actionURL = '/people/edit/' + personID
  else
    - var actionURL = '/people/add'
    - var addme = true

  h1#item-edit-title.teal-text.text-darken-2 #{fullname}

  section#person-form
    form(action=actionURL, method='post' enctype='multipart/form-data')
      if results
        input(type='hidden' name='id' value=personID)
      if addme
        input(type='hidden' name='newuser' value='true')
      .row#form-fields
        .col.s12.m6.l8
          div.input-field(data-role='fieldcontain')
            label(for='fullname') Full Name
            input.validate#fullname(type='text' placeholder='(required)' name='fullname' value=fullname required autofocus)
          div.input-field(data-role='fieldcontain')
            label(for='moniker') Title
            input.validate#moniker(type='text' name='moniker' value=moniker)
          .row
            .col.s12.m6.l6
              div.input-field(data-role='fieldcontain')
                label(for='email') Email
                input.validate#email(type='text' placeholder='(required)' name='email' value=email required)
            .col.s12.m6.l6
              div.input-field(data-role='fieldcontain')
                label(for='phone') Phone
                input.validate#phone(type='text' name='phone' value=phone)
          .row
            .col.s12.m6.l6
              div.input-field(data-role='fieldcontain')
                label(for='hours') Office Hours
                input.validate#hours(type='text' name='hours' value=hours)
            .col.s12.m6.l6
              div.input-field(data-role='fieldcontain')
                label(for='office') Office Location
                input.validate#office(type='text' name='office' value=office)
          div.input-field(data-role='fieldcontain')
            label(for='website') Website
            input.validate#website(type='text' name='website' value=website)
          div.input-field(data-role='fieldcontain')
            label(for='bio') Bio
            textarea.materialize-textarea.validate#bio(name='bio')
              = bio
        .col.s12.m6.l4
          .row
            if results
              img#avatar.responsive-img(src='/uploads/' + picture)
            else
              img#avatar.responsive-img(src='/images/default-user.jpg')

            #changepic.input-field.file-field(data-role='fieldcontain')
              .btn
                span Add Picture
                input.validate#avatar(type='file' name='avatar')
                input(type='hidden' name='pic_name' value=picture)
              .file-path-wrapper
                input.file-path.validate(type='text')
            if results
              #deletepic
                input#del-pic.filled-in(type='checkbox' name='del_pic')
                label(for='del_pic') Delete Picture?
          .row
            div(data-role='fieldcontain')
              label(for='location') Location
              select.browser-default(name='location')
                each locOption in locations
                  if (location == locOption.id)
                    option(value=locOption.id, selected)= locOption.name
                  else
                    option(value=locOption.id)= locOption.name
      .row#form-buttons
        .col.s12.m6
          if results
            input.btn.waves-effect.waves-light.green.left(type='submit' name='submit' value='Save')
          else
            input.btn.waves-effect.waves-light.green.left(type='submit' name='submit' value='Create')
          if results
            a.modal-action.modal-close.btn.red(href='#delete-' + personID) Delete
            .modal(id='delete-' + personID)
              .modal-content
                h4 Delete #{fullname}?
                p Are you sure you want to delete this person?
              .modal-footer
                a.modal-action.modal-close.btn.green.left(href='#!') Cancel
                a.modal-action.modal-close.btn.red(href='/people/delete/' + personID) Delete
