extends layout

block content
  if message
    ul.card-panel.green.white-text#success-panel
      li= message
  if errors
    ul.card-panel.red.white-text#error-panel
      for error in errors
        li= error.msg
  if dbErr
    ul.card-panel.red.white-text
      li= dbErr

  if results
    - var action = 'edit'
    - var toolID = results.id
    - var toolName = results.name
    - var make = results.make
    - var model = results.model
    - var picture = results.picture
    - var training = results.training
    - var category = results.category_id
    - var location = results.location_id
    if results.visible
      - var visibleness = 'checked'
  h1#item-edit-title.teal-text.text-darken-2 #{toolName}

  .row#tool-form
    form(action='/tools/edit/' + toolID, method='post' enctype='multipart/form-data')
      .row#form-fields
        .col.s12.m6.l8
          div.input-field(data-role='fieldcontain')
            label(for='toolName') Tool Name
            input.validate#toolName(type='text' placeholder='(required)' name='toolName' value=toolName)
          div.input-field(data-role='fieldcontain')
            label.active(for='make') Make
            input.validate#make(type='text' placeholder='(required)' name='make' value=make)
          div.input-field(data-role='fieldcontain')
            label.active(for='model') Model
            input.validate#model(type='text' name='model' value=model)
          div.input-field(data-role='fieldcontain')
            label.active(for='training') Training
            input.validate#training(type='text' placeholder='included with access to space' name='training' value=training)
          div(data-role='fieldcontain')
            label(for='location') Location
            select.browser-default(name='location')
              each locOption in locations
                if (location == locOption.id)
                  option(value=locOption.id, selected)= locOption.name
                else
                  option(value=locOption.id)= locOption.name
          div(data-role='fieldcontain')
            label(for='category') Category
            select.browser-default(name='category')
              each catOption in categories
                if (category == catOption.id)
                  option(value=catOption.id, selected)= catOption.name
                else
                  option(value=catOption.id)= catOption.name
        .col.s12.m6.l4
          if picture
            img.responsive-img(src='/uploads/' + picture)
            input(type='hidden' name='pic_name' value=picture)
          else
            img.responsive-img(src='/images/no-tool.png')
          div.input-field.file-field(data-role='fieldcontain')
            .btn
              if (action == 'edit')
                span Change Picture
              else 
                span Add Picture
              input.validate#tool_image(type='file' name='tool_image')
            .file-path-wrapper
              input.file-path.validate(type='text')
      .row#visible-box
        .col
          div.input-field(data-role='fieldcontain')
            input#isVisible(type='checkbox' name='visible' checked=visibleness)
            label(for='isVisible') Visible (check to make the tool visible on the website)
      .row
      .row#form-buttons
        .col.s12.m6
          input.validate.btn.waves-effect.waves-light.green.left#submit(type='submit' name='submit' value='Save')
          if (action == 'edit')
            a.modal-action.modal-close.btn.waves-effect.waves-light.red(href='#delete-' + toolID) Delete

            div(class='modal', id='delete-' + toolID)
              .modal-content
                h4 Delete 
                  span.delete-title= toolName
                p Are you sure you want to delete this item?
              .modal-footer
                a.modal-action.modal-close.btn.green.left(href='#!') Cancel
                a.modal-action.modal-close.btn.red(href='/tools/delete/' + toolID) Delete
