extends layout

block content
  if userInfo.message
    ul.card-panel.green.white-text#message-panel
      li= userInfo.message
  if error
    ul.card-panel.red.white-text#message-panel
        li= error

  if results
    - var email = results.email
    - var fullname = results.fullname
    - var img = results.img
    - var userID = results.id
    - var username = results.username
    - var urlAction = username

    - var header = username
  else
    - var addme = true
    - var urlAction = 'add'
    - var header = 'Add new user'

  h1#item-edit-title #{header}
  section.userform
    form(name="user", action='/users/' + urlAction, method="post", enctype='multipart/form-data', accept-charset="utf-8") 
      #pic.row
        .col.s12.m6.l4
          if img
            img#user-image.responsive-img(src='/uploads/' + img)
          else
            img#user-image.responsive-img(src='/images/default-user.jpg')

          #changepic.input-field.file-field(data-role='fieldcontain')
            .btn
              if img
                span Change Picture
              else
                span Add Picture
              input.validate#avatar(type='file' name='avatar')
              input(type='hidden' name='pic_name' value=img)
            .file-path-wrapper
              input.file-path.validate(type='text')
          if img
            #deletepic
              input#del_pic.filled-in(type='checkbox' name='del_pic')
              label(for='del_pic') Delete Picture?
        .col.s12.m6.l8
          ul
            li
              if addme
                input(type='hidden', name='newuser', value='true')
              if error
                label(for='username') Username: 
                input(id='username' name='username' value=username autofocus required)
                input(type='hidden', name='newuser', value='true')
              else 
                if username
                  label(for='username') Username (can not be changed): 
                  input(id='username' disabled value=username)
                  input(type='hidden' name='id' value=userID)
                  input(type='hidden' name='username' value=username)
                else
                  label(for='username') Username: 
                  input(id='username' name='username' autofocus required)
            li 
              label(for="fullname") Full Name
              input(type="text" id="fullname" name='fullname' value=fullname autofocus required)
            li 
              label(for="email") Email
              input(type="email" id="email" name='email' value=email autofocus required)
            if username & !error
              li
                p.grey-text.text-lighten-1 (Leave blank to not change password.)
            li
              if passes
                .red-text.text-darken-2 Passwords do not match
              label(for="password") Password
              input(type="password", id="password", name='password')
            li
              label(for="password") Confirm Password
              input(type="password" id="confirmpassword" name='confirmpassword')
            li
              .row#form-buttons
                .col.s12.m6
                  if results && !error
                    input.left.btn.green.waves-effect.waves-light(type="submit" value="Save")
                  else
                    input.left.btn.green.waves-effect.waves-light(type="submit" value="Create")
                  if (username && userInfo.username !== username && !error)
                    a.btn.red.waves-effect.waves-light(href='#delete' + userID) Delete
                    .modal(id='delete' + userID)
                      .modal-content
                        h4 Delete user #{username}?
                        p Are you sure you want to delete this user?
                      .modal-footer
                        a.modal-action.modal-close.btn.green.left(href='#!') Cancel
                        a.modal-action.modal-close.btn.red(href='/users/delete/' + userID) Delete
